/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: repeating-linear-gradient(
      to right,
      var(--bg-color-primary) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-color-primary) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--bg-color-secondary) 0.01%,
      var(--bg-color-dark)
    );

  background-attachment: fixed;
}

.button {
  font-family: var(--accent-font);
  font-size: 14px;
  background: transparent;
  border: none;
  color: var(--main-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/* Шапка */

.header {
  font-family: var(--accent-font);
  margin: 102px 0;
  border: var(--border-style);
  padding: 136px 0 25px;
  background-color: var(--bg-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.header__title {
  margin-bottom: 20px;
  font-size: 65px;
}

.header__subtitle {
  margin-bottom: 25px;
  font-size: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-bottom: 4px;
  background-color: var(--main-color);
  transition: width 300ms, background-color 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--main-color);
}

.theme-menu__button:disabled {
  color: var(--accent-color);
  pointer-events: none;
}

/* ARROW */

.theme-menu__button {
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-left: -20px;
  animation: moveArrow 2s infinite ease-in-out;
  height: 16px;
  width: 13px;
  color: var(--accent-color);
}

@keyframes moveArrow {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: 10%;
  }
}

/* Карточки */

.sprints__list {
  display: grid;
  margin-bottom: 100px;
}

.sprints {
  color: var(--main-color);
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  line-height: 116.6%;
}

.sprint__title {
  font-size: 18px;
  padding: 4px 8px;
}

.sprint__image-wrap {
  position: relative;
  aspect-ratio: 1 / 1;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.sprint__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
  -webkit-text-stroke: 1px var(--stroke-bg-color);
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.sprint__content {
  display: grid;
  gap: 25px;
  padding: 35px 25px 25px;
}

.sprint__text {
  font-size: 18px;
  display: grid;
  gap: 25px;
  line-height: 116%;
}

.sprint__buttons {
  display: flex;
  gap: 12px;
  justify-self: end;
}

.card__like-button {
  position: relative;
  font-size: 14px;
  border: 2px solid var(--main-color);
  padding: 10px 34px;
  transition: color 0.5s ease;
}

.card__like-button:hover {
  color: var(--bg-color);
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
  transition: 0.3s;
}

.card__like-button::after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0%;
  height: 36px;
  background-color: var(--main-color);
  transition: width 0.5s;
}

.card__like-button:hover::after {
  width: 100%;
}

.button__text {
  position: relative;
  z-index: 2;
}
