/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-weight-medium: 400;
  --font-weight-large: 700;
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --border-style: 2px solid var(--main-color);
  --heart-color: #ff0000;
  --backdrop-color: #000;


}